extends ../layout.pug

block content
  h2.mb-4 Lista de Productos

  // Botones Nuevo Producto e Inicio
  .d-flex.mb-3
    a.btn.btn-nuevo.me-2(href="/productos/nuevo")
      i.bi.bi-plus-circle
      |  Nuevo Producto
    a.btn.btn-secondary(href="/dashboard")
      i.bi.bi-house
      |  Inicio

  if productos && productos.length
    table.table.table-striped.table-bordered
      thead
        tr
          th Código
          th Nombre
          th Proveedor
          th Costo Unitario
          th Unidad de Venta
          th Categoría
          th Precio Venta
          th Stock Actual
          th Stock Mínimo
          th Acciones
      tbody
        each p in productos
          tr
            td= p.codigo
            td= p.nombre
            td= p.proveedor
            td $#{(p.costo_unitario ? p.costo_unitario.toFixed(2) : "0.00")}
            td= p.unidad_venta
            td= p.categoria
            td $#{(p.precio_venta ? p.precio_venta.toFixed(2) : "0.00")}
            td= p.stock_actual
            td= p.stock_minimo
            td
              a.btn.btn-acciones.editar(href=`/productos/editar/${p._id}`)
                i.bi.bi-pencil-fill
              button.btn.btn-acciones.eliminar.btn-eliminar(data-id=p._id)
                i.bi.bi-trash-fill
  else
    p.text-center.mt-4 No hay productos registrados.

block scripts
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  script.
    document.querySelectorAll(".btn-eliminar").forEach(btn => {
      btn.addEventListener("click", function () {
        const id = this.getAttribute("data-id");

        Swal.fire({
          title: "¿Eliminar Producto?",
          text: "Esta acción no se















